# Default ignored files
/shelf
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests
# Datasource local storage ignored files
/dataSources
/dataSources.local.xml
/old
/.idea
/1_PART_ONE/.ipynb_checkpoints
/2_PART_TWO/.ipynb_checkpoints
/3_PART_THREE/.ipynb_checkpoints
/3_PART_THREE/3.4_XGBoos.ipynb
/3_PART_THREE/data/P49841_model.ubj
/3_PART_THREE/data/P49841_dataset_train
/3_PART_THREE/data/P49841_dataset_valid